.footer {
  min-height: 75px;
  width: calc(100%);
  background: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 15px));

  a {
    text-decoration: none;
  }

  .footer_text {
    transition: 250ms;
    font-size: $default-size;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);

    &:hover {
      color: rgba(255, 255, 255, 0.35);
    }
  }
}
