.workDayTimelineContainerWrapper {
  display: flex;
  flex: 1;
  overflow: auto;
  margin: 15px;
  background: var(--theme-secondary);
  box-shadow: $primary-box-shadow;
  border-radius: 5px;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.weekDayHoursCircleContainer {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.weekDayHoursCircleOverlay,
.weekDayHoursCircle {
  fill: transparent;
  stroke-width: 7.5px;
  stroke: var(--card-circle);
  transform: translate(50%, 50%);
}

.weekDayHoursCircleOverlay {
  stroke: $medium-blue;
  stroke-dasharray: calc(2 * calc(4vw * 3.14159));
  transform: translate(50%, 50%) rotate(-90deg);

  @media (max-width: 1000px) {
    stroke-dasharray: calc(2 * calc(45px * 3.14159));
  }
}

.workDayTimelineContainer {
  border-radius: 5px;
  margin-bottom: 5px;
  width: calc(100%);
  min-height: 250px;
  min-width: min-content;
  height: 21vw;
  // background: $primary-gradient;
  background-color: var(--theme-secondary);
  padding: 0px 0.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekDayCardContainer {
  min-width: 150px;
  min-height: 235px;
  width: 12.5vw;
  height: calc(20vw - 15px);
  border-radius: 5px;
  background-color: var(--theme-primary);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .clock_icon {
    font-size: clamp(35px, 3.5vw, 3.5vw);
    color: var(--card-circle);
  }

  h4 {
    margin-bottom: 5px;
    font-size: clamp(25px, 2vw, 2vw);
    color: var(--black);
  }

  h1 {
    font-size: clamp(17.5px, 1.5vw, 1.5vw);
    color: var(--black);
  }

  h2 {
    font-size: clamp(17.5px, 1.5vw, 1.5vw);
    color: var(--black);
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
      font-size: clamp(15px, 1.15vw, 1.15vw);
    }
  }

  .weekDayHours {
    flex: 1;
    position: relative;
  }

  .weekDayHoursAmount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .weekDayCardDetails {
    background-color: var(--card-bottom);
    width: 100%;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75vw 0vw 1vw 0vw;

    h3 {
      font-size: clamp(1rem, 1vw, 1vw);
      color: var(--black);
      font-weight: 500;

      span {
        font-size: clamp(0.8rem, 0.85vw, 0.85vw);
      }
    }
  }
}

.arrowContainer {
  display: flex;
  justify-content: center;

  .arrowCircle {
    transition: 250ms;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .arrowIconLeft,
    .arrowIconRight {
      transition: 250ms;
    }

    &:hover .arrowIconLeft {
      transform: translateX(-2px);
    }

    &:hover .arrowIconRight {
      transform: translateX(2px);
    }
  }
}
